# Ignore imgui.ini
imgui.ini

# Prerequisites
*.d

obj/
bin/

# IDE
.vscode/
.vs/

# Build
secrets.txt
build/
out/
pyscript.py

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
